:root{
	--dark: #413f3f;
	--gray: #8a8a8a;
	--white: #eaeaea;
	--guava: #6f5e5e;
	--green: #53c953;
	--build-top: url('public/img/build_top.jpg');
	--build-bot: url('public/img/build_bot.jpg');
	--city-mid: url('public/img/city.jpg');
	
}

#roof_container{
	display: grid;
	width: 100%;

	background-position-x: 50px;

	padding: 10px;
	border: 0px;

	grid-template-areas:
		"hero_head	top_none"
		"mid_none	mid_none"
		"hero_text	bot_none";

	grid-template-rows: 150px auto 150px;
	grid-template-columns: auto auto ;
}

@media (min-width: 450px) {
	#roof_container{
	
	grid-template-areas:
		"top_none	top_none	top_none"
		"hero_head	mid_none	hero_text"
		"bot_none	bot_none	bot_none";
	grid-template-rows: 3fr 150px 1fr;
	grid-template-columns: 150px 1fr 200px;

	background-position-x: 0px;
	}
}

.section_title{
	padding-top: 5px;
	font-size: 2em;
	font-family: "Open Sans";
	text-align: center;
	text-justify: start;
}
.section_title .footer{
	font-size: 1em;
}
.full_height{
	min-height: 100vh;
}

.bg_img{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center top;
}

/*	TODO
fix hero_read positioning on desktop version
*/
.hero_head{
	grid-area: hero_head;
	width: 150px;
	height: 150px;
	font-size: 1.5em;
	text-align: center;
}
.hero_text{
	grid-area: hero_text;
	font-family: Arapey;
	align-self: end;
}

.hero_text .soft{
	font-size: 3em;
}
.hero_text .engineer{
	font-family: Bitter;
	font-size: 3em;
	font-weight: bold;
}
.hero_text .regular_text{
	margin-top:0px;
}

.space_around{
	margin-left: 50px;
	margin-right: 50px;
}

.relative{position:relative;}

#about_container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around
	padding 10px;
	align-items: center;
	
}

#about_container > .top_title{
	
}

#about_container > .mid_text{
	font-weight: 700;
	align-self: justify;
}

#about_container > .mid_text p{
	padding: 20px 0px 0px 20px;
}
#about_container > .mid_text p span{
	font-size: 1.75em;
	font-style: italic;
	padding-left: 7px;
}
#about_container > .bot_quote{
	padding-top: 15px;
	grid-area: bot_quote;
	
}

.quote{
	font-family: 'Proza Libre';
	font-size:35px;
}

/*	TODO
fix this to rotate last quote of section About properly
*/
.rotate90{
	transform: rotateZ(90deg);
}


/*TODO
find a way to apply blur on BG
without blur every child on this section
*/

#skills_container > *{
	filter: blur(0px);
}

#skills_container{
	filter: blur(0px);
	display: grid;
	grid-template-areas:
		"title	title"
		"static_text	left_1"
		"static_text	left_2"
		"static_text	left_3"
		"static_text	left_4"
		"static_text	left_5"
		"static_text	left_6";

	grid-template-rows: auto;
	grid-template-columns: auto 100px ;
	align-items: center;
}

#skills_container .item{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: right;
	/* padding-right: 7px; */
}

@media (min-width: 450px){
	#skills_container{
		filter: blur(0px);
		display: grid;
		grid-template-areas:
			"title			title	title"
			"static_text	left_1	left_2"
			"static_text	left_3	left_4"
			"static_text	left_5	left_6";

		grid-template-rows: auto;
		grid-template-columns: auto 200px 200px ;
	}
	#skills_container .item{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-around;
	}
}

#skills_container .section_title{
	grid-area: title;
}

#skills_container button{
	color: var(--white);
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
}



#skills_container p{
	padding-left: 10px;
	color: white;
}

#skills_container .static_text{
	grid-area: static_text;
}

/*TODO
find a way to make the text float only on skills section
*/
.float_text{
	/* position: fixed;
	top: 20px; */
}

.left_1{
	grid-area: left_1;
}

.left_2{
	grid-area: left_2;
}

.left_3{
	grid-area: left_3;
}

.left_4{
	grid-area: left_4;
}

.left_5{
	grid-area: left_5;
}

.left_6{
	grid-area: left_6;
}

.skill_img{
	width: 100px;
	height: 100px;
}

.color_dark{ color: var(--dark); }
.color_gray{ color: var(--gray); }
.color_white{ color: var(--white); }
.color_guava{ color: var(--guava); }
.color_green{ color: var(--green); }

.bg_dark{ background-color: var(--dark); }
.bg_gray{ background-color: var(--gray); }
.bg_white{ background-color: var(--white); }
.bg_guava{ background-color: var(--guava); }
.bg_green{ background-color: var(--green); }